*{
    margin:0;
    padding:10px;
    background-color: #047057;
    color: whitesmoke;
    text-align: center;

}
#heading{
    text-align: center;
}

div{
    display: flex;
    padding-bottom: 150px;
    flex-direction: row;
    padding-left: 40%;
    padding-top: 50px;
}
h2{
    font-size: 25px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

button{
    
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #108b8b;
padding: 20px;
border-radius: 50px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}
button:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
button:focus { outline-style: none; }